<% if (currentUser && showWelcome) { %>
    <div class="custom-modal-overlay" id="customWelcomeModal">
        <div class="custom-modal">
            <h2>Hi <%= currentUser.name %> 👋</h2>
            <p>Welcome to DocOnTime! We’re glad to have you.</p>
            <button class="close-button" id="closeModalBtn">Let's Go</button>
        </div>
    </div>
    <% } %>
  












