<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/views/assets/logo-01.png">
    <title>Video Call</title>
    <link rel="stylesheet" href="/views/css/vedioCall.css">
</head>
<body>
    <div id="video-container">
        <h2>Connecting to Video Call...</h2>
        <iframe id="video-frame" src="" width="800" height="600"></iframe>
        <button onclick="endCall()">End Call</button>
    </div>
    <script src="/views/js/symptomChecker.js"></script>
</body>
</html>
